"Last Name","First Name","Email","Company","Ticket Type"
"Last_Name","First_Name","Email","Company","Ticket_Type"
"Mustermann","Max","max.mustermann@mail.de","Wallmart Corp","FREE"
"Musterfrau","Erika","erika@mail.de","Wallmart Corp","TNG"
"Normalverbraucher","Otto","o.norm@tngtech.com","Wallmart Corp","FREE"
"Müller","Lieschen","Lieschen@mail.de","Wallmart Corp","FREE"
"HACK3R","1337","","Wallmart Corp","FREE"
